body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
  background-image: url("Hobbit_1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
  text-align: center;
}

.quotes {
    text-align: center;
}

.container-fluid {
   text-align: center;
}
